PORT=3000
MONGO_URI=mongodb+srv://datdevgw:datdevgw@dat-shopping.5tch4.mongodb.net/?retryWrites=true&w=majority&appName=Dat-Shopping
JWT_SECRET=s_tier_jwt_secret
REFRESH_TOKEN_SECRET=s_tier_refresh_token_secret
VNP_TMNCODE=AYCG1S2V
VNP_HASHSECRET=HYLMHMB2E6RPU7SK4YCIYOHNI2I65JWH
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURNURL=http://localhost:8017/v1/vnpay/vnpay-return
ADMIN_PASSWORD=Admin@123

